.tab {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    padding: 0;
    list-style: none;
    position: relative;
    background-color: #F3FAFA;
}

.tab > * {
    flex: none;
    padding-left: 20px;
    position: relative;
}

.tab > * > a {
    display: block;
    text-align: center;
    padding: 9px 20px;
    color: #999;
    border-bottom: 2px solid transparent;
    border-bottom-color: transparent;
    font-size: 12px;
    text-transform: uppercase;
    transition: color .1s ease-in-out;
    line-height: 20px;
}

.tab > .active > a {
    color:#222;
    border-color: #1e87f0;
}

.tab li a {
    text-decoration: none;
        cursor: pointer;
}

.tab-content{
    padding: 0;
    background-color: #F3FAFA;
}

.tab-content li {
    display: none;
}
.tab-content li.active {
    display: initial;
}
tbody th {
  background-color: #156a86;
  color: white;
}
#category-header{
  background-color: #15846c;
  color: white;
}
p.post-meta {
  color: #F3FAFA;
}
p.post-meta a {
  color: #F3FAFA;
}
header.page-header-nav {
  background-color: #15846c;
  position: fixed;
  left: 0;
  right: 0;
  top: 5px;
  height: 30px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 25px 0 black;
}
header.page-header-nav * {
  color: #F3FAFA; 
  display: inline;
}
header.page-header-nav li {
margin: 20px;
}
header.page-header-nav li a {
color: white;
text-decoration: none;
}
